<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="com.epam.ta.reportportal.log4j.appender">
    <properties>
        <property name="pattern">[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n</property>
    </properties>
    <appenders>
        <Console name="Console">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <File name="File" fileName="target/logs/task1.log" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>
    </appenders>
    <loggers>
        <root level="all">
            <appenderRef ref="Console" level="info"/>
            <appenderRef ref="File" level="info"/>
        </root>
    </loggers>
</configuration>